**/.pytest_cache/**
intc/build/**
intc/dist/**
intc/intc.egg-info/**
intc/test.py
lsp/build/**
lsp/dist/**
lsp/clean.py
lsp/intc_lsp.egg-info/**
**/*.pyc
**/*.so
lsp/intc.json
lsp/con/**
lsp/config/**
plugins/vscode/out
plugins/vscode/node_modules
plugins/vscode/.vscode-test/
plugins/vscode/*.vsix
plugins/vscode/tsconfig.tsbuildinfo
**/__pycache__/**
**/log.log
